[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
paho-mqtt = {version="==1.6.1"}
simplejson = {version=">=3.18.1"}
PyYAML = {version="==6.0"}


[dev-packages]
pytest = "*"
pytest-cov = "*"
pylint = "*"
codecov = "*"

[requires]
python_version = ">=3.6"
