[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
paho-mqtt = {version="==1.6.1"}
simplejson = {version="==3.18.1"}
jproperties = {version="==2.1.1"}

[dev-packages]
pytest = "*"
pytest-cov = "*"
pylint = "*"
codecov = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.9"
